.grid-container
{
    display: grid;
    grid-template-columns: auto;
    padding: 10px;
    height: auto;
    background-color: rgb(32,33,36);

}



.container-left {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.central-container {
    display: flex;
    justify-content: center;
    height: 500px;
    align-items: center;
}

.button
{
    font-family: Arial, Helvetica, Sans-serif;
    font-size: 16px;
    text-align: center;
    color: white;
    padding: 15px;
    border-radius: 8px;
    border: rgb(48,49,52);;
    background-color: rgb(48,49,52);
    cursor: pointer;
    margin: 10px;
}

button:hover {
    border-radius: 8px;
    border-color: white;
    border-width: 3px;
}

button
{
    width: 250px;
}

input
{
    font-family: Arial, Helvetica, Sans-serif;
    font-size: 16px;
    text-align: left;
    color: white;
    text-decoration: none;
    border-radius: 60px;
    padding: 16px;
    width: 490px;
    margin: 10px;
    border-color: white;
    border-width: 1px;
    background-color: rgb(32,33,36);
}

input, textarea {
    outline: none;
    border: none;
    border: solid 1px #f2f2f2;
    }

input:hover {
    background-color: rgb(48,49,52);
    border-color: rgb(48,49,52);;
}

div > a
{
    display: block;
    color: white;
    text-decoration: none;
}

